/**
 * @file navbar.icons-contrib.css
 */

/**
 * Main menu icons.
 */
.icon-my-workbench:before {
  background-image: url("../images/icon-my-workbench.png");
}
.icon-my-workbench:active:before,
.icon-my-workbench.active:before {
  background-image: url("../images/icon-my-workbench-active.png");
}
.icon-store:before {
  background-image: url("../images/icon-store.png");
}
.icon-store:active:before,
.icon-store.active:before {
  background-image: url("../images/icon-store-active.png");
}
.icon-apps:before {
  background-image: url("../images/icon-apps.png");
}
.icon-apps:active:before,
.icon-apps.active:before {
  background-image: url("../images/icon-apps-active.png");
}
